@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

*:before,
*:after {
	content: "";
	position: absolute;
}

a {
  color: inherit;
  text-decoration: none;
}